/**
* ZEPLIN COLORS
*
* ATTENTION: Changes here probably must me made in @gorila-bot/gorila-front-utils/lib/asset-class too
*/
$gorila-primary: #10c0c6;
$gorila-secondary: #4dde90;
$fixed-income-primary: #815ae8;
$fixed-income-secondary: #9278f4;
$multimarket-primary: #0dd6f4;
$multimarket-secondary: #43e7ff;
$stocks-primary: #ed4581;
$stocks-secondary: #f766a1;
$currency-primary: #fcbd1f;
$currency-secondary: #ffd364;
$cash-primary: #314a61;
$cash-secondary: #456888;
$tangible-primary: #df5e3d;
$tangible-secondary: #e05f3e;

/**
* GRAY SCALE
*/
$black: #000;
$lightbox: rgba(0, 0, 0, 0.5);
$extra-dark-gray: #2d2d2d;
$dark-gray: #888e8e;
$medium-gray: #cacbcc;
$very-light-gray: #dedede;
$base-background: #f1f1f1;
$white: #fff;

$asset-colors-primary: (
  benchmark: #777878,
  cash: $cash-primary,
  currency: $currency-primary,
  default: $gorila-primary,
  fixed_income: $fixed-income-primary,
  multimarket: $multimarket-primary,
  stocks: $stocks-primary,
  tangible: $tangible-primary,
);
$asset-colors-secondary: (
  benchmark: #a3a5a6,
  cash: $cash-secondary,
  currency: $currency-secondary,
  default: $gorila-secondary,
  fixed_income: $fixed-income-secondary,
  multimarket: $multimarket-secondary,
  stocks: $stocks-secondary,
  tangible: $tangible-secondary,
);

$neutral-colors: ( 
    darkest: #000000, 
    darker: $extra-dark-gray, 
    dark: #555b5b, 
    normal: $dark-gray, 
    light: #d6d4d5, 
    ligher: #f0f0f0, 
    lightest: #ffffff
);
