@import '~@gorilainvest/styles/scss/colors';

.mat-stepper-horizontal {
  font-family: inherit;
}

.mat-horizontal-stepper-header::after,
.mat-horizontal-stepper-header::before,
.mat-stepper-horizontal-line,
.mat-step-header .mat-step-icon {
  background-color: $dark-gray;
}

.mat-step-icon-content {
  color: $white !important;
}

.mat-step-header .mat-step-icon-state-edit,
.mat-step-header .mat-step-icon-selected,
.mat-step-header .mat-step-icon-state-done {
  background-color: $gorila-primary;
}

.mat-step-label {
  font-size: 10px;
  line-height: 14px;
  text-transform: uppercase;
}

.mat-step-header .mat-step-label {
  color: $dark-gray;
}

.mat-step-header .mat-step-label.mat-step-label-active {
  color: $gorila-primary;
}

.mat-horizontal-stepper-header {
  pointer-events: none !important;
}
