@import '../mixins';
@import '../variables';

$gorilaDarkBg: $extra-dark-gray;
$gorilaFontColor: $white;

.tippy-popper {
  @each $placement in $placements {
    &[x-placement^='#{$placement}'] {
      .tippy-tooltip.gorila-dark-theme {
        .tippy-arrow {
          @include arrow($placement, 8px, #333);
        }
      }
    }
  }

  .tippy-tooltip.gorila-dark-theme {
    color: $gorilaFontColor;

    background-color: $gorilaDarkBg;
    border-radius: 5px;
  }

  .tippy-tooltip.gorila-dark-theme .tippy-backdrop {
    font-size: 10px;
  }

  .tippy-tooltip.gorila-dark-theme .tippy-roundarrow {
    fill: $white;
  }
}

.tippy-popper[x-placement^='bottom'] .tippy-tooltip.gorila-gray-theme .tippy-arrow {
  border-bottom: 8px solid $gorilaDarkBg !important;
}

.tippy-popper[x-placement^='top'] .tippy-tooltip.gorila-gray-theme .tippy-arrow {
  border-top: 8px solid $gorilaDarkBg !important;
}

.tippy-popper[x-placement^='left'] .tippy-tooltip.gorila-gray-theme .tippy-arrow {
  border-left: 8px solid $gorilaDarkBg !important;
}

.tippy-popper[x-placement^='right'] .tippy-tooltip.gorila-gray-theme .tippy-arrow {
  border-right: 8px solid $gorilaDarkBg !important;
}
