@import '../mixins';
@import '../variables';

$gorilaWhiteBg: #fff;
$gorilaFontColor: $extra-dark-gray;

.tippy-popper {
  @each $placement in $placements {
    &[x-placement^='#{$placement}'] {
      .tippy-tooltip.gorila-white-theme {
        box-shadow: 0 0 6px 0 rgba(0, 0, 0, 0.4);

        .tippy-arrow {
          @include arrow($placement, 8px, #fff);
        }
      }
    }
  }

  .tippy-tooltip.gorila-white-theme {
    color: $gorilaFontColor;

    background-color: $gorilaWhiteBg;
    border-radius: 5px;
  }

  .tippy-tooltip.gorila-white-theme .tippy-backdrop {
    font-size: 10px;
  }

  .tippy-tooltip.gorila-white-theme .tippy-roundarrow {
    fill: $extra-dark-gray;
  }

  .tippy-tooltip.no-padding {
    padding: 0;
  }
}

.tippy-popper[x-placement^='bottom'] .tippy-tooltip.gorila-gray-theme .tippy-arrow {
  border-bottom: 8px solid $gorilaWhiteBg !important;
}

.tippy-popper[x-placement^='top'] .tippy-tooltip.gorila-gray-theme .tippy-arrow {
  border-top: 8px solid $gorilaWhiteBg !important;
}

.tippy-popper[x-placement^='left'] .tippy-tooltip.gorila-gray-theme .tippy-arrow {
  border-left: 8px solid $gorilaWhiteBg !important;
}

.tippy-popper[x-placement^='right'] .tippy-tooltip.gorila-gray-theme .tippy-arrow {
  border-right: 8px solid $gorilaWhiteBg !important;
}
